commits.md

target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

*.class
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

.idea/
*.iws
*.iml
*.ipr
.vscode/
*.code-workspace

*.log
*.DS_Store
Thumbs.db
